.body{
  padding: 0;
  background-color: hsl(208, 52%, 88%) !important;
}
.nav{
  background-color: hsl(42, 78%, 41%);
}
.brand-img img{
  width: 50px;
}
.text{
  color: hsl(350, 100%, 88%);
}
.a{
  color: hsl(180, 100%, 50%);
}
.button{
  background-color: hsl(350, 100%, 88%);
}
.button:hover{
  background-color: hsl(350, 100%, 88%) !important;
}

.c-img img {
 height: 400px;
}
.intro h3{
  font-weight: 600;
  font-style: oblique;
  color: hsl(42, 78%, 41%);
}
.intro p{
  color: hsl(180, 100%, 50%)
}
@keyframes glitter-animation {
  100% { color: hsl(350, 100%, 88%); text-shadow: 2; }
}

.glitter {
  animation: glitter-animation 1s linear infinite;
  -webkit-animation: glitter-animation 1s linear infinite;
  font-weight: bolder;
  font-style: oblique;
}
.bg {
  background-color: hsl(350, 100%, 88%);
}
.bg2 {
  background-color: hsl(180, 100%, 50%);
}
ol{
  list-style: none;
}
.button1{
  background-color: hsl(42, 78%, 41%);
}
.button1:hover{
  background-color: hsl(42, 78%, 41%);
}
a,p{
  color: hsl(0, 0%, 0%);
  text-decoration: none;
}
